Source: python-trollius
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
Build-Depends-Indep: python-concurrent.futures,
                     python-mock,
                     python-nose,
                     python-unittest2,
                     python3-mock,
                     python3-nose,
                     python3-unittest2,
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-trollius.git
Vcs-Git: git://anonscm.debian.org/openstack/python-trollius.git
Homepage: https://bitbucket.org/enovance/trollius/

Package: python-trollius
Architecture: all
Depends: python-concurrent.futures,
         ${misc:Depends},
         ${python:Depends},
Description: port of the Tulip project on Python 2.7 - Python 2.x
 Trollius is a portage of the Tulip project (asyncio module, PEP 3156) on
 Python 2. Trollius works on Python 2.6-3.4. It has been tested on Windows,
 Linux, Mac OS X, FreeBSD and OpenIndiana.
 .
 This package contains the Python 2.x module.

Package: python3-trollius
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
Description: port of the Tulip project on Python 2.7 - Python 3.x
 Trollius is a portage of the Tulip project (asyncio module, PEP 3156) on
 Python 2. Trollius works on Python 2.6-3.4. It has been tested on Windows,
 Linux, Mac OS X, FreeBSD and OpenIndiana.
 .
 This package contains the Python 3.x module.
